---
---

@import "{{ site.theme }}";

/* Add your custom styles here */

img.screenshot {
	margin-left: auto;
	margin-right: auto;
}

img.inline-image {
	margin-left: 20px;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: 0;
}

/* Content max width */
.inner {
	max-width: 1000px;
}

h1 {
	margin: 20px 10px 0 0;
	font-size: 36px;
}

h2 {
	background: none;
	padding-bottom: 0;
	font-size: 28px;
}

h3 {
	font-size: 22px;
}